body {
    font-family: 'Arial', sans-serif;
    background: url('../assets/landing_page_anim.gif') no-repeat center center fixed; /* Ruta corregida */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #000000; 
    background-color: #efefef;/* Fondo claro para toda la página */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

.login-container {
    background-color: #28306E;
    color: #efefef; /* Texto dentro del contenedor */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container img {
    width: 160px;
    margin-bottom: 15px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.384));
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;

}

.login-container .institution-name {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #28306E;
    color: #efefef;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.login-container button:hover {
    background-color: #28306E;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 15px;
}

.forgot-password:hover {
    text-decoration: underline;
}
